<div class = "container">
<ul>
 <% @posts.each do |post| %>
   <li>
   <br>
    <%= link_to post.title, post_path(post) %>
    <small> <%=post.rating %> Likes </small>
    <small>Posted: <%= ((Time.now - post.created_at)/60).round(0)%> minutes ago</small>
    <br>
   </li>
 <% end %> 
<br>
<%=link_to "New Post", new_post_path, class:"btn btn-default" %>
<br>
<hr>
<h3> Tags </h3>
<ul>
  <% @tags.each do |tag| %>
  <br>
    <li> <%= link_to tag.name,  tag_posts_path(tag) %>
     <%=link_to "Edit", edit_tag_path(tag), class:"btn btn-default" %>
     <%=link_to "Delete", tag_path(tag), 
                          :data => {:confirm =>"You sure?",
                          :method => "delete"}, class:"btn btn-default" %>
    </li>

  <% end %>
  <br>
  <%=link_to "Add Tag", new_tag_path, class:"btn btn-default" %>
</ul>
</div>


