<div class="col-md-10 col-md-offset-1">
  <div class="post-header">
     <%= @post.title %>
  </div>
  <hr>
  <div class="post-body">
  	<%= @post.body %>
  </div>
  <br>
  <hr>
  <br>
  <li><p><%= link_to "Edit", edit_post_path(@post), class:"btn btn-default" %>
         <%= link_to "Delete", post_path(@post),
                              :data => {:confirm =>"You sure?",
                              :method => "delete"}, class:"btn btn-default" %>
  </p></li>
  </center>
  <br>
    <h3> Tags </h3>
      <% @tags.each do |tag| %>
        <br>
        <li><%= link_to tag.name,  tag_posts_path(tag) %> </li>
      <% end %>
 </div>