<%= render "layouts/errors", :object => @tag %>

<center>
<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_field :name %>
  </div>
    <%= f.submit "Submit" %>
  <% end %>
</center>