<div class="col-md-10 col-md-offset-1">
  <div class="post-header">
    <%= @post.title %>
  </div>
<hr>
<div class="post-body">
  <%= @post.body %>
</div>
<br>
<br>
  <% if admin_signed_in? %>
    <li><p><%= link_to "Edit", edit_post_path(@post), class:"btn btn-default" %>
         <%= link_to "Delete", post_path(@post),
                              :data => {:confirm =>"You sure?",
                              :method => "delete"}, class:"btn btn-default" %>
    </p></li>
  <% end %>
 
  <ul>
  <% @post.tags.each do |tag| %>
    <br>
    <li>Tags: <%= link_to tag.name,  tag_path(tag) %> </li>
  <% end %>
  </ul>
  
  <hr>

<%= link_to "Leave a Comment",  new_post_comment_path(@post), class:"btn btn-default"  %>
<br>
<br>
<% if @post.comments.any? %>
  <h4> Comments: </h4>
  <% @post.comments.each do |comment| %>
    <%= comment.content %>
    <%= link_to "Edit Comment", edit_post_comment_path(@post, comment), class:"btn btn-default" %>
    <%= link_to "Delete Comment", post_comment_path(@post, comment),
                              :data => {:confirm =>"You sure?",
                              :method => "delete"}, class:"btn btn-default" %>
    <li><%=comment.created_at %></li>
  <% end %>
<% end %>

</div>
