<!DOCTYPE html>
<html>
<head>
  <title>Coding Lady</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class = "container">
  <div class = "jumbotron main-jumbotron">
    <br>
    <br>
    <br>
    <br>
    <h1 class="title">Coding Lady</h1>
    <br>
      <div class="navbar-header">
        <ul class= "nav navbar-nav navbar-center">
          <li><a class="navbar-link" href="static_pages/about">About</a></li>   
        </ul>
        <ul class= "nav navbar-nav navbar-center">
          <li><a class="navbar-link" href="/">Home</a></li>
        </ul>
      </div>
      <br>
      <hr>
    </div>
  </div>
</div>

 <% if notice || alert %>
  <div id="alert-row" class="row">
    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </div>
  <% end %>


<div class="container-fluid">
  <%= yield %>
</div>
 
  
</body>
</html>
